/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header.ant-layout-header,
footer,
.ant-menu {
  background: #1c1c24 !important;
  color: #5f5f6e !important;
}

.ant-menu-item:hover {
  background-color: #1c1c24 !important;
  color: white;
}

main,
.site-layout-background > h1 {
  background: #131419 !important;
  color: white;
}

.ant-card,
.ant-card-body {
  background: #1c1c24 !important;
  color: #5f5f6e !important;
}

.ant-card-body {
  padding: 0 !important;
}

main {
  border-top: 1px solid #5f5f6e;
}

.ant-progress-text {
  color: white !important;
}

footer {
  border-top: 1px solid #5f5f6e;
}
